*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}
body{
    
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2; 
}

:root {
    font-size: 10px;
    --bYellow: #E1AB43;
    --bGrey :#7E7E7E;
    --light_grey : #DADADA;
    --bBlack: #5C5C5C;
    --bGreen: #7BB268;
    --bRed : #F15C2D;

     /* --light_blue: rgba(0, 165, 255, 0.85); */
 

}

 body a{
    color:inherit;
 }

 body a:hover {
    color:inherit;
    text-decoration: none;
}
 

p {
    font-size: 1.8rem;
    margin: 0px;
    padding: 0;
}



ul {
    color:inherit;
    text-decoration:none;
    margin-bottom: 0;
}

li{
    color:inherit;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}


img{
    width: 100%;
}


button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}

label{
    margin: 0;
}


@media (max-width: 1025px) { }

@media (max-width: 767px) { }


/* //////////////////////////////// */

.Window{
    position: relative;
}

.Background{
    position: fixed;
    z-index: 996;
    height: 100vh;
    width: 100%;
    background-image: url('../images/bg01.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px) { 

    .Background{
        height: 100vh;
        width: 100%;
        background-image: url('../images/bg01.jpg');
        background-size: cover;
        background-position: center;
    }

}

.Content{
    position: relative;
    width: 100%;
    z-index: 996;
}

.BG_space{
    width: 100%;
    /* height: calc(100vh - 100px); */
    background-color: transparent
}

.Bf_Content{

    width: 100%;
    min-height: calc(100vh - 80px);
    background-color:transparent

}

@media (max-width: 767px) {

    .Bf_Content{

        width: 100%;
        min-height: calc(100vh - 80px);
        background-color:transparent
    
    }



}

/* 尋找站點頁 */

#FindStationPage{
    width: 100%;
    display: flex;
    position: relative;
}

.FindStationCover{
    width: 62.5%;
    /* width: 0%; */
    transition: 0.6s;
    height: calc(100vh - 180px);
    background-image: url('../images/bg03.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;

}


.FindStation_SearchWarp{
    position: relative;
    transition: 0.6s;
    width: 37.5%;
    /* width: 100%; */
    height: calc(100vh - 180px);
    display: flex;

}


.FindStationBar{
    position: relative;
    transition: 0.6s;
    width: 100%;
    /* width: 25%; */
    height: 100%;
    background-color: white;
}



.FindStationMap{
    width: 0%;
    /* width: 75%; */
    height: 100%;
    background-color: #afa;


}


.StationStep{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 50px;
    background-color: cyan;

}



.StationSearchContent{
    display: block;
    transition: 0.6s;
    /* display: none; */
    width: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 230px);
    background-color: yellow;
}


.StationList{
    display: none;
    /* display: block; */
    margin-top: 50px;
    width: 100%;
    min-height: calc(100vh - 230px);
    background-color: pink;
}

.FindStaion_Btn{

    width: 120px;
    height: 40px;
    background: #A3C896;
    border-radius: 8px;


}
.coverMove{

    width: 0%;

}

.SearchWarpMove{

    width: 100%;
  
}


.StationBarMove{

    width: 25%;

}



.StationMapMove{

    width: 75%;

}

.StationStepMove{
  
    width: 75%;
}

.SearchContentMove{

    display: none;
}


.StationListMove{

     display: block;

}

@media (max-width: 767px) { 


    #FindStationPage{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .FindStationCover{
        width: 100%;
 
        height: 100vh;
        /* height: 85px; */
        background-image: url('../images/bg03.jpg');
        background-size:cover;
        background-position:-30px;
        background-repeat: no-repeat;
    
    }

    .FindStationBar{
        width: 100%;
    }


    .FindStation_SearchWarp{
        position: relative;
        width: 100%;
        height: calc(100vh - 165px);
        display: flex;
        flex-direction: column;

    
    }


    .FindStationMap{
        position: absolute;
        width: 0%;
        /* width: 100%; */
        top: 50px;
        left: 0;
        height: 350px; 
        background-color: #afa;
    
    
    }

    .StationSearchContent{
        display: block;
        /* display: none; */
        width: 100%;
        margin-top: 50px;
        min-height: calc(100vh - 215px);
        background-color: yellow;
    }

    .StationList{
       
        display: none;
        /* display: block; */
        margin-top: 400px;
        width: 100%;
        min-height: calc(100vh - 565px);
        background-color: pink;
    }


    .coverMove{

        width: 100%;
        height: 85px;
    
    }
    
    .SearchWarpMove{
    
        width: 100%;
      
    }
    
    
    .StationBarMove{
    
        width: 100%;
    
    }
    
    
    .StationMapMove{
    
        width: 100%;
    
    }
    
    .StationStepMove{
        width: 100%;
    }
    
    .SearchContentMove{
    
        display: none;
    }
    
    
    .StationListMove{
    
         display: block;
    
    }
  
   

}


/* //////////////navbar///////////////// */


.Navbar{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    border-radius: 50px 50px 0px 0px;
    border-bottom: 1px solid var(--light_grey);
}
.navbarLogo{
    width: 25%;
    height: 100%;
    border-right: 1px solid var(--light_grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navbarLogo img{
    width: 35%;
}

.navbarLogo h5{
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;

    
}
.navbarItemWarp{
    display: flex;
    width: 75%;
    height: 100%;
    /* background-color: cyan; */
}
.navbarItem{
    width: 25%;
    height: 100%;
    cursor: pointer;
    border-right: 1px solid var(--light_grey);
    display: flex;
    justify-content: center;
    align-items: center;
    color:  var(--bGrey);
   
}

.navbarItem h3{

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    

}

.navbarItem:hover{
    transition: 0.8s;
    color: var(--bYellow);
}


.navbarRWDHide{
    display: none;
}

.RWD_btn{
    display: none;
}

@media (max-width: 767px) { 

    .navbarHide{
        display: none;
    }

  

    .Navbar{
        height: 85px;
       
    }

    .navbarItemWarp{
        display: none;
        width: 75%;
        height: 100%;
    }
    .RWD_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
        border-right: 1px solid var(--light_grey);
    }

    .navbarLogo{
        width: 70%;
        height: 100%;
        border-right: 1px solid var(--light_grey);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 20px;
    
    }
    
    .navbarLogo img{
        width: 65%;
    }
}



.NavbarRWD{
    position: absolute;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color:transparent;
    border-bottom: 1px solid var(--light_grey);

    
}

.NavbarRWD_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

.navbarRWDLogo{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 20px;
}

.navbarRWDLogo img{
    width: 65%;
}

.navbarRWDLogo h5{
   
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.15em;

    
}

@media (max-width: 767px) { 

    .navbarRWDHide{
        display: block;
    }

}

/* /////////footer///////////// */
.footer{
    position: relative;
    z-index: 996;
    height: 80px;
    width: 100%;
    background-color: var(--bYellow);
}